@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
</head>
<body>
	<form action="create" method="post">
		<label for="name"><input name="name" placeholder="Name of the place" /></label>
		<label for="description"><input name="description" placeholder="Why do you meditate there?" /></label>
		<label for="location"><input name="location" placeholder="Where is it?" /></label>
		<input type="submit" value="Save your meditation spot" />
	</form>
</body>
</html>

